{% extends "base.html" %}
{% block content %}
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:	GREEN;">
      <a href="{% url 'patienthome' %}" class="navbar-brand">Patient</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
        <a href="{% url 'patientreportview' %}" class="nav-item nav-link">reports</a>
        </div>
        <div class="navbar-nav" style=" margin-left:75%;">
            {% if request.user.is_authenticated %}
                 <a href="{% url 'doctorlogout' %}" class="nav-item nav-link">Logout</a>
            {% else %}
                 <a href="{% url 'doctorlogin' %}" class="nav-item nav-link">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav><br><br><br>
{% endblock %}