<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/style1.css">
    <style>
        .form-area{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow-x: scroll;
        }
        .form-area .width{
            width:320px;
        }
        .form-area th{
            padding:15px 20px;
        }
        .form-area td{
            padding: 20px 10px 20px 20px;
            box-sizing: border-box;
        }
        .btn{
            width: 110px;
        }
        .btn:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
    </style>
</head>
<body>
    {% include 'admin/nav_bar.html'%}
    <div class="home-content">
        {% include 'message_template.html' %}
        {% if admin_id is None %}
        <div class="login-msg-area">
            <center><h4>{{loginmsg}}</h4></center>
            <center><a class="btn btn-primary" href="/admin_login/">Login</a></center>
        </div>
        {% else %}
        <div class="card-area">
            <div class="form-area">
                <form action="/add_doctor/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table border="1">
                        <tr align="center" >
                            <th colspan="4">Add New Doctor</th>
                        </tr>
                        <tr>
                            <td><label for="firstname">First Name:</label></td>
                            <td > <input name="firstname" type="text" class="form-control width" id="firstname" placeholder="First Name" required></td>
                            <td><label for="lastname">Last Name:</label></td>
                            <td > <input name="lastname" type="text" class="form-control width" id="lastname" placeholder="Last Name" required></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td> <input name="email" type="email" class="form-control width" id="email" placeholder="Email" required></td>
                            <td><label for="Date">Appointed Date:</label></td>
                            <td> <input name="date" type="date" class="form-control width" value="{{current_date}}" id="Date"required></td>
                        </tr>
                        <tr>
                            <td><label for="username">Username:</label></td>
                            <td> <input name="username" type="text" class="form-control width" id="username" placeholder="Username" required></td>
                            <td><label for="age">*Age:</label></td>
                            <td > <input name="age" type="number" class="form-control width" id="age" min="20" max="70" placeholder="Enter your age" required></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password:</label></td>
                            <td > <input name="password" type="password" class="form-control width" id="password" placeholder="Password" required></td>
                            <td><label for="con-password">Confirm Password:</label></td>
                            <td > <input name="con-password" type="password" class="form-control width" id="con-password" placeholder="Confirm Password" required></td>
                        </tr>
                        <tr>
                            <td><label>Gender:</label></td>
                            <td><input class="form-check-input" type="radio" name="gender" value="Male" id="male"> <label for="male">Male</label> 
                                <input class="form-check-input" type="radio" name="gender" value="Female" id="female"> <label for="female">Female</label>
                            </td>
                            <td><label for="mobileno">Mobile Number:</label></td>
                            <td ><input name="mobileno" type="tel" class="form-control" id="mobileno" placeholder="Mobile Number"  pattern="[5-9]{1}[0-9]{9}" maxlength="10" required></td>
                        </tr>
                        <tr >
                            <td>{{ form.department.label_tag }}</td>
                            <td>{{ form.department }}</td>
                            <td><label for="experience">Experiance:</label></td>
                            <td ><input name="experience" type="number" class="form-control width" id="experience" placeholder="Experience" min="0" max="60" required></td>
                            
                        </tr>
                        <tr>
                            <td><label for="image">Upload Profile pic:</label></td>
                            <td ><input name="image" type="file" class="form-control" id="image" accept=".jpg,.png,.jpeg" required></td>
                            <td><label for="qualification">Qualification:</label></td>
                            <td ><input name="qualification" type="text" class="form-control" id="qualification"  ></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <label for="Address">Address:</label>
                            </td>
                            <td colspan="1">
                                <textarea style="width: 300px;"class="form-control" name="address" id="address"  cols="300" rows="3" placeholder="Enter the Address here"></textarea>
                            </td>
                        </tr>
                        <tr >
                            <td><a href="/admin_doctor/" class="btn btn-danger">Cancel</a></td>
                            <td><input type="reset" class="btn btn-danger"value="Clear"></td>
                            <td></td>
                            <td align="right">
                                <input type="submit" class="btn btn-primary"value="Add Doctor">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    {% include 'scripts.html' %}
</body>
</html>