<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Project</title>


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

</head>

<body>
  {% include "main_nav_bar.html" %}
  {% include "message_template.html"%}
  <br>
  <br>

  <div class="jumbotron" style="margin-top: 0px;
    margin-bottom: 0px;">
    <h1 class="display-4">Hello {{firstname}}</h1>
    <p class="lead">Our Team is checking your profile <br><br> Soon your Will recieve an email if Your account is confirmed !!!</p>
    <hr class="my-4">
    <p>Check Later</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/main_login/" role="button">Go Back For Now</a>
    </p>
  </div>
  {% include 'scripts.html'%}

</body>


</html>
