{% extends 'base.html' %}
{% block content %}
{% include 'patient/pat_navbar.html' %}
{% include 'message_template.html'%}
    {% if form.errors %}
<div class="error">
<strong>Error occured because:</strong>
{{ form.errors }}
</div>
{% endif %}


<br>
<style>
    .mod1{
        background-color:#379eca;
        width: 100%;
        margin: 20px;
    }
    .card-body input[type=radio]{
        margin: 3px 5px;
    }
    .card-body label{
        margin-right: 5px;
    }
</style>
<center>
    <div class="container" style="float:left">
        <div class="col-md-7">
            <div class="card" style="background-color:#99cce2">
                <div class="card-body">
        <h5>APPOINTMENT BOOKING</h5>
        <form method="POST" class="border border-2 border-solid p-4" action="{% url 'bookappointment' %}">
            {% csrf_token %}
            <table>
                <tr>
                <td>{{form.firstname.label}}:</td>
                <td>{{form.firstname}}</td>
                </tr>
                <tr>
                    <td>{{form.lastname.label}}:</td>
                    <td>{{form.lastname}}</td>
                </tr>
                <tr>
                    <td>{{form.email.label}}:</td>
                    <td>{{form.email}}</td>
                </tr>
                <tr>
                    <td><label for="phone">Phone:</label></td>
                    <td ><input name="phone" type="tel" class="form-control" id="phone" placeholder="Enter your Mobile Number" pattern="[5-9]{1}[0-9]{9}" maxlength="10" required></td>
                </tr>
                <tr>
                    <td><label>Gender:</label></td>
                    <td><input class="form-check-input" type="radio" name="gender" value="Male" id="male"> <label for="male">Male</label> 
                        <input class="form-check-input" type="radio" name="gender" value="Female" id="female"> <label for="female">Female</label>
                    </td>
                </tr>
                <tr>
                    <td><label for="department" >Select Department:</label></td>
                    <td><select id="department" class="form-select" name="department">
                        <option selected>Choose...</option>
                        {% for dept in departments %}
                            <option value="{{ dept.id }}">{{ dept.department }}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <!-- <tr>
                    <td>{{form.department.label}}:</td>
                    <td>{{form.department}}</td>
                </tr> -->
                <tr>
                    <td><label for="doctor">Doctor:</label></td>
                    <td >
                        <select id="doctor" class="form-select" name="doctor">
                            <option selected>Choose...</option>
                            <!-- Doctor options will be loaded dynamically using AJAX -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{form.age.label}}:</td>
                    <td>{{form.age}}</td>
                </tr>
                <tr>
                    <td>{{form.symptoms.label}}:</td>
                    <td>{{form.symptoms}}</td>
                </tr>
                <tr>
                    <td>{{form.description.label}}:</td>
                    <td>{{form.description}}</td>
                </tr>
                <tr>
                    <td><label for="date">Appointment Date:</label></td>
                    <td><input type="date" id="date" name="date" value="{{date}}" min="{{date}}" class="form-control" required></td>
                    </tr>
                <tr>
                    <td colspan="2"><button class="btn mod1" type="submit">Book Now</button></td>
                </tr>
                </table><br>       
        </form>
    </div></div></div></div>
    <div class="container">
        <div class="card" style="margin-bottom:20px"> 
            <div>
                <p>oncology</p>
                <img src="https://continentalhospitals.com/images/specialities/oncology.png">
            </div>
        </div>
        <div class="card" style="margin-bottom:20px"> 
            <div>
                <p>neurology</p>
                <img src="https://continentalhospitals.com/images/specialities/660d49b737a1afd4eeba533b0a2b1827.webp">
            </div>
        </div>
        <div class="card" style="margin-bottom:20px"> 
            <div>
                <p>gastroentrology</p>
                <img src="https://continentalhospitals.com/images/specialities/3da12740fc75d78610b1a6eae11ef83d.webp">
            </div>
        </div>
        <div class="card" style="margin-bottom:20px"> 
            <div>
                <p>pulmonology</p>
                <img src="https://continentalhospitals.com/images/specialities/151a3971461577b912c9fb654a067f8b.webp">
            </div>
        </div>
        <div class="card" style="margin-bottom:20px"> 
            <div>
                <p>orthopedics</p>
                <img src="https://continentalhospitals.com/images/specialities/0f920fb42f59993df1eac2689808e2d0.webp">
            </div>
        </div>
        <div class="card"> 
            <div>
                <a href="{% url 'patienthome'%}">view more</a>
            </div>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#department').on('change', function() {
            var departmentId = $(this).val();
            $.ajax({
                url: '/get_doctors_by_department/',
                data: {'department_id': departmentId},
                success: function(data) {
                    $('#doctor').html(data);
                }
            });
        });
    });
</script>
    </center>
        
{% endblock %}
