<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    {{ message }}
    <div style="display:inline-flex;float:right">
        <!-- <button type="button"  data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
            <span class="material-symbols-outlined mod">close</span>
        </button> -->
        <a type="button" data-dismiss="alert" class="close float-right" aria-label="Close"><span aria-hidden="True" class="material-symbols-outlined mod" style="color:black">close</span></a>
    </div>
  </div>
</div>
{% endfor %}

{% include 'scripts.html'%}